
@model Product

    <div class="col-md-3 wow fadeInUp" style="visibility: visible;width:400px; height:360px; animation-name: fadeInUp;">
        <div class="text-center product-item" style="width:360px; height:350px">
            <div class="product-item-top" style="width:250px; height:200px">
                <img alt="" class="img-responsive" src="/images/products/@Model.Image" style="width:250px; height:200px">
                <div class="mask"></div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <form asp-action="AddToCart" asp-controller="Cart" method="post" class="form-inline">
                            <input type="hidden" name="ProductId" value="@Model.ProductId" />
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-cart-plus fa-fw"></i>
                            </button>
                        </form>
                    </li>
                    <li><a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId"><i class="fa fa-link fa-fw"></i></a></li>

                </ul>
            </div>
            <div class="product-item-inner" style="height:120px">
                <h3 class="product-title">
                    <a asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@Model.ProductId">
                        @Model.ProductName
                    </a>
                </h3>
                <p class="product-price">@Model.Price.ToString("c")</p>
                
            </div>
        </div>
    </div>
